.wide {
    /* border: 1px solid salmon; */

}

/* #changeMe { */
    /* transition: all 2s ease-in-out

} */

span{
    display: inline-flex;
}

/* .image2 { */
    /* height;
    width;
    } */

   .image2 {
        -ms-transform: rotate(90deg); /* IE 9 */
        -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
        transform: rotate(90deg);
        } 